/* Carousel Styles */
.carousel {
	margin-right: 210px;
	position: relative; /* Menggunakan relative agar anak-anak dapat diposisikan dengan benar */
	overflow: hidden;
	display: flex; /* Menggunakan flex untuk menengahkan konten */
	justify-content: center;
	align-items: center; /* Menengahkan konten secara vertikal */
}

.carousel-images {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel-images img {
	width: 100%;
	flex-shrink: 0; /* Mencegah gambar menyusut */
}

.carousel-indicators {
	position: absolute; /* Menggunakan absolute untuk menempatkan indikator di atas carousel */
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 5px;
	justify-content: center;
}

.indicator {
	width: 10px;
	height: 10px;
	background-color: #ccc;
	border-radius: 50%;
	cursor: pointer;
}

.indicator.active {
	background-color: #333;
}
