/* Reset Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* General Styles */
html,
body {
	width: 100%;
	height: 100%;
	overflow-y: auto; /* Tambahkan scroll untuk seluruh halaman */
	background-color: #f4f4f4;
	font-family: Arial, sans-serif;
}

/* Container */
.container {
	display: flex;
	flex-direction: column;
	min-height: 100%; /* Pastikan elemen meluas sepanjang layar */
	background-color: #fff;
}

/* Header */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffd700;
	padding: 20px;
}

/* Profile Section */
.profile-section {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background-color: #fff8d1;
}

.profile-card,
.contact-card {
	width: 45%;
	padding: 20px;
	background-color: #ffec99;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Product Section */
.product-section {
	padding: 20px;
}

.product-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #fff8d1;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-product {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.add-button {
	width: 60px;
	height: 60px;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 50%;
	font-size: 24px;
	cursor: pointer;
}

/* Button Styles */
.edit-button {
	background-color: #4caf50;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.delete-button {
	background-color: #f44336;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.back-btn {
	background-color: black;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 20px;
}
